
html{
    scroll-behavior: smooth;
}

*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#wrapper{
   height: 100vh;
   overflow-x: hidden;
   overflow-y: auto;
   perspective: 13px;
}
.container{
    position: relative;
    display: flex;  
    height: 100%;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
    /* flex-wrap: wrap; */

}
.background,.foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover; 
    z-index: -1;
}
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-20px) scale(2.55);
}
h1{
    transform: translateY(-171px);
    font-size: 78px;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow :0 0 16px rgb(6 5 7);
    
    
}
.secHeading{
    font-size: 70px;
    padding: 0 10rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

section{
        background-color: rgb(45, 45, 45);
        color: white;
        padding: 3rem 0;
    }
.bg1{
    background-image: url(sport-1.jpg);
    
}

.bg2{
    background-image: url(sport-2.jpg);
    
}

.bg3{
    background-image: url(sport-3.jpg);
   
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
     height: 400px;
}
.text{
    font-size:1.5rem;
    padding: 0 5rem;
    margin: 1rem 0;
}
.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    font-size: 3.5rem;
    font-weight: 600px;

}

